$red: rgba(246, 7, 7, 0.6) ;
$white-100: rgba(255,255,255,0.1);
$white-150: rgba(255,255,255,0.15);
$white-200: rgba(255,255,255,0.2);
$white-300: rgba(255,255,255,0.3);
$white-500: rgba(255,255,255,0.5);
$white-700: rgba(255,255,255,0.7);
$white-600: rgba(255,255,255,0.6);
$white-850: rgba(255,255,255,0.85);
$bg: rgb(45, 48, 56);
$bg-light: rgb(62, 65, 72);
$bg-dark: rgb(27, 30, 36)
